.footer {
    height: 240px;
    background: #111111;
    border-top: 1px solid #948c8c6e;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 17vh;
    padding-right: 23vw;
    .site-name {
        margin-top: -5vh;
        font-size: 7vh;
        margin-left: 6vw;
        font-weight: bold;
    }
}
@media (max-width: 400px) {
    .footer {
        height: 440px;
        margin-top: -38vh;
        display: grid;
        padding: 38px;
        text-align: center;
        padding-left: 15vw;
        .site-name{
            margin-top: 7vh;
            margin-left: 0;
        }
        .middle,.right {
            display: grid;
            line-height: 0;
            margin-bottom: 3vh;
        }
       
    }
}
