.partD {
    height: 920px;
    padding: 20vh;
    margin-left: 4vw;
    .back-img img {
        position: absolute;
        margin-top: -20vh;
        margin-left: -14vw;
        z-index: -1;
        box-shadow: none;
        height: 44vh;
        width: 42vw;
    }
    .img img {
        width: 550px;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
    }
    .lines-img img {
        width: auto;
        margin-left: -43vw;
        margin-top: -5.5vh;
    }
    .line {
        background-color: #9a8f8f;
        height: 1px;
        width: 7vw;
        position: absolute;
        left: 53vw;
        margin-top: 61vh;
    }
    .right {
        margin-left: 10vw;
        width: 54vh;
        .top-txt {
            .title {
                font-weight: bold;
                font-size: 40px;
            }
            .full-txt {
                line-height: 27px;
                margin-top: -20px;
            }
        }
        .btn {
            background-color: black;
            border: none;
            height: 48px;
            width: 14vw;
            color: white;
            font-weight: bold;
            box-shadow: -1px 1px 3px black;
        }
        .bottom-txt {
            .title {
                margin-top: 18vh;
                font-family: "montserrat";
                font-weight: bold;
            }
            p {
                line-height: 26px;
                font-size: 20px;
                color: gray;
            }
        }
    }
}
@media (max-width: 400px) {
    .partD {
        height: 1044px;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100vh;
        .line {
            background-color: #9a8f8f;
            height: 1px;
            width: 10vw;
            position: absolute;
            left: 44vw;
            margin-top: -38vh;
        }
        .img {
            display: none;
        }
        .mobile-img img {
            display: block;
            position: absolute;
            margin-top: -107vh;
            margin-left: -35vw;
            width: 320px;
            box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
        }
        .back-img,
        .lines-img {
            display: none;
        }
        .right {
            .top-txt {
                position: relative;
                top: -73vh;
                right: 44vw;
                width: 313px;
                text-align: center;
                .title {
                    font-size: 31px;
                }
                .full-txt{
                    font-size: 15px;
                }
            }
            .bottom-txt {
                margin-top: -157vh;
                margin-left: -102vw;
                text-align: center;
            }
            .btn{
                position: relative;
                top: -68vh;
                width: 63vw;
                height: 10vh;
                right: 34vw;
            }
        }
    }
}
