.partC {
    height: 760px;
    background: #111111;
    color: #ffffff;
    font-family: Spartan;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left {
        width: 59%;
        margin-left: 11vw;
        margin-top: 39%;
        .title {
            font-size: 37px;
            font-weight: bold;
            font-family: cursive;
        }
        .full-txt {
            font-family: "montserrat";
            line-height: 30px;
        }
    }
}
@media (max-width: 400px) {
    .partC{
        // display: block;
        height: 1720px;
        grid-template-columns: 1fr;
        // -ms-layout-grid-type: ;
        // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        // grid-auto-rows: minmax(150px, auto);
        // grid-gap: 2em;
        // margin-bottom: 200px;
        padding: 5vw;
        .left{
            margin-left: 0;
            width: 100%;
            text-align: center;
            margin-left: 11vw;
            margin-top: 39%;
            .title{
                margin-bottom: 5px;
            }
        }
        .rigth{
            margin-top: -92vh;
        }
    }
}
